<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<%- include('nav.ejs')%>

<body class="grey-bg">
  <div class="list-header"><span>검색결과</span></div>
  <div>
  <div class="white-bg">
    <%if (post?.length < 1){%>
          <div class="no-list">검색결과가 없습니다.</div>
      <%} else {%>
      <% for (let i=0; i < post.length; i++){%>
        <a href="/detail/<%= post[i]._id%>">
          <div class="list-box">
            <div style="display: flex; align-items: center">
              <span class="list-profile-img-container">
                <img id="profile-img" src="<%= post[i].author.img && post[i].author.img !== '' ? post[i].author.img : '/images/profile.png' %>" alt="">
              </span>
              <p style="margin: none; display: block; font-size: 14px;"><%= post[i].author.username%></p>
            </div>
            <h4><%= post[i].title%></h4>
            <p><%= post[i].content%></p>
            <p style="font-size: 12.5px;"><%= new Date(post[i].createdAt).toLocaleString('ko-KR', { dateStyle: 'long', timeStyle: 'short' }) %></p>
          </div>
        </a>
    <%}}%>
  </div>
  </div>

  <div class="search-container">
    <form action="/list/search" method="GET">
      <input type="text" placeholder="검색어를 입력하세요." name="title">
      <button id="search-btn" class="search-btn" type="submit">검색</button>
    </form>
  </div>
  <div class="page-btn-container">
    
  <% for (let i=1; i<= post.totalPage; i++ ) { %>
      <a class="page-btn" href="<%=i%>" ><%=i%></a>
  <%}%>
  </div>
</body>
</html>
